# MEDIDAS DE CENTRALIZACION

## Importando librerias

In [1]:
import pandas as pd
import os

## Definiendo Dataframe

In [3]:
mainpath = "/Users/ramon/Documents/universidad/I PAC 2020/IA/II Parcial/notebook/Estadistica/"
filename = "datasets/notas.txt"
fullpath = os.path.join(mainpath,filename)
data_notas = pd.read_csv(fullpath)

In [5]:
data_notas.head()

   nombre  nota
0   Ramon   100
1  Manuel    50
2   Maria    70
3    Jose    40
4    John    30

## Media Aritmetica

In [14]:
float(data_notas["nota"].mean())

56.92307692307692